.expanded-container {
  display: flex;
  padding: 40px 165px;
}

.expanded-container__day {
  color: var(--color-grey);
  background-color: rgba(255, 255, 255, 0.75);
}
.expanded-container__night {
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0.75);
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.world-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.world-content {
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
}

@media only screen and (max-width: 1024px) {
  .expanded-container {
    padding: 2.8rem 3rem;
    justify-content: space-between;
  }

  .world-content {
    font-size: 40px;
    line-height: 48px;
  }

  .bar {
    display: none;
  }
}

@media only screen and (max-width: 650px) {
  .expanded-container {
    flex-direction: column;
    padding: 50px 32px;
  }

  .world-item {
    margin-bottom: 1.12rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .world-content {
    font-size: 20px;
    line-height: 24px;
  }
}
