.App {
  color: var(--color-white);
  height: 100vh;
}

.background-day {
  background: url(./assets/desktop/bg-image-daytime.jpg) rgba(0, 0, 0, 0.3)
    center no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
}

.background-night {
  background: url(./assets/desktop/bg-image-nighttime.jpg) rgba(0, 0, 0, 0.3)
    center no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
}

.container {
  padding: 65px 165px 98px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.show {
  display: contents;
}

.hide {
  display: none;
}

.content-height {
  height: 625px;
}
